<div id="newSuggestDialog" class="modal-wrap modal">
  <div class="modal-overlay"></div>
  <div class="modal-holder">
    <div class="modal-content fl-wrap">
      <div class="close-reg"><i class="fa fa-times"></i></div>
      <h3 class="modal-title">Sign In</h3>
      <div class="soc-log fl-wrap">
        <p>For faster login or register use your social account.</p>
        <a href="#" class="facebook-log"><i class="fa fa-facebook-official"></i>Log in with Facebook</a>
        <a href="#" class="twitter-log"><i class="fa fa-twitter"></i> Log in with Twitter</a>
      </div>
    </div>
  </div>
</div>